/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Red+Hat+Text:wght@500&display=swap');

.bg-charcoal {
    background-color: #333333;
}

.bg-gray {
    background-color: #444444;
}

.btn-offwhite {
    background-color: #f3f2ed;
}
.btn-offwhite:active, .btn-offwhite:hover {
    background-color: #d4d3cf;
}


.border-palegray {
    border-color: #aaaaaa;
}

.btn-border {
    border-radius: .6rem;
    border-style: solid;
}

.carousel-center {
    width: 100%;
}

.font-15 {
    font-size: 15pt;
}

.img1 {
    background-image: url("../img/parallax.jpg");
}

.mukta {
    font-family: 'Mukta', sans-serif;
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    height: min(50vh, 30vw);
}

.redhat {
    font-family: 'Red Hat Text', sans-serif;
}

/* don't expand carousel images beyond 1440px width */
@media screen and (min-width: 1920px) { 
    .carousel-center {
        width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
}
