/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Roboto+Slab&display=swap');

.bg-darkblue {
    background-color: #002857;
}

.border-blue {
    border-color: #002857!important;
}

.btn-darkblue {
    background-color: #002857;
}

.btn-darkblue:active, .btn-darkblue:hover {
    background-color: #0028ae;
}

.btn-border {
    border-radius: .6rem;
    border-style: solid;
    border-width: 0.09rem;
}

.card-border {
    border-width: 0.1rem!important;
}

.fnt-crimson {
    font-family: 'Crimson Pro', serif;
}

.fnt-robotoslab {
    font-family: 'Roboto Slab', serif;
}

.img-stone-aqua {
    background-image: url("../img/stone-aqua.jpg");
}

.img-stone-blue {
    background-image: url("../img/stone-blue.jpg");
}

.img-stone-green {
    background-image: url("../img/stone-green.jpg");
}

.landing::before {
    content:"";
    display: block;
    margin-bottom: -4em;
    margin-top: -6em;
    height: 6em;
}

.parallax {
    /* displays as plain image on devices that don't support fixed background */
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    background-repeat: repeat;
    height: min(7vh, 5rem);
}

.width-limit {
    width: min(100rem, 95%);
}

/* increase parallax height on large screens */
@media screen and (min-width: 750px) { 
    .parallax {
        height: min(15vh, 20rem);
    }
}
