/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Red+Hat+Text:wght@500&display=swap');

.bg-charcoal {
    background-color: #333333;
}

.bg-gray {
    background-color: #444444;
}

.border-palegray {
    border-color: #AAAAAA;
}

.carousel-center {
    width: 100%;
}

.font-15 {
    font-size: 15pt;
}
.mukta {
    font-family: 'Mukta', sans-serif;
}

.redhat {
    font-family: 'Red Hat Text', sans-serif;
}

/* don't expand carousel images beyond 1440px width */
@media screen and (min-width: 1920px) { 
    .carousel-center {
        width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
}
